# Python / Django
__pycache__/
*.pyc
db.sqlite3
venv/
.venv/
env/
*.egg-info/

# Variables de entorno (nunca subir contraseñas a GitHub)
.env

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
